.container {
  display: flex;
  flex-direction: row;
  gap: 50px;
  background-color: #fff;
  min-height: 100vh;
  padding: 20px;
}

/* ===== FILTER (Sidebar bên trái) ===== */
.filter {
  width: 220px;
  border-right: 1px solid #ddd;
  padding: 20px;
}

.filter h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

.filter__categories__item {
  margin-bottom: 12px;
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 15px;
}

/* ===== BREADCRUMB ===== */
.header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.header__link {
  text-decoration: none;
  color: #646464;
  font-weight: 500;
}

/* ===== PRODUCTS CONTAINER ===== */
.products__container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px 0;
  gap: 20px;
}

.products__title h1 {
  font-size: 22px;
  margin-left: 20px;
}

/* ===== PRODUCTS GRID ===== */
.products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: row;
  }

  .products {
    grid-template-columns: repeat(3, 1fr); /* tablet */
    padding: 0 0px;
  }

  .products__title h1 {
    margin-left: 0px;
  }
  .filter {
    padding: 0px;
    width: 150px;
  }
  .header {
    margin-bottom: 10px;
  }
  .products__title h1 {
    font-size: 17px;
    margin-left: 0px;
  }
  .filter__categories__item {
    font-size: 12px;
  }
}
@media (max-width: 1024px) {
  .products {
    grid-template-columns: repeat(4, 1fr); /* desktop */
    padding: 0 40px;
  }

  .products__title h1 {
    margin-left: 40px;
  }
}

/* ===== PAGINATION ===== */
.pagination {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
}

.pageBtn {
  padding: 8px 14px;
  border: 1px solid #ddd;
  background: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

.pageBtn:hover {
  background-color: #f0f0f0;
}

.pageBtn.active {
  background-color: orange;
  color: white;
  font-weight: bold;
}
